{%load staticfiles %}
<div class="container">
	<div class="col-lg-12">
		<div class="row">
				<form>
					<div class="col-sm-9">
						<div class="row">
							<div class="col-sm-3 form-group">
								<label>First Name</label>
								  {{form.username}}
							</div>
							<div class="col-sm-3 form-group">
								<label>Middle name</label>
								{{form.first_name}}
								
							</div>
							<div class="col-sm-3 form-group">
								<label>Last Name</label>
								{{form.last_name}}
								
							</div>
						</div>
					
					</div>
				</form>
		</div>
	</div>

</div>